div#CreateEmployee{

  form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;

    & > span,
    & > fieldset,
    & > div,
    & > button{
      width: 40%;
    }

    label,
    input,
    select{
      //display: block;
      //width: 80%;
      //margin: 5px;
    }

    div{
      //margin-bottom: 10px;
    }

    input,
    select,
    button{
      //padding: 5px;
    }

    span.error{
      font-size: 11px;
      margin-left: 5px;
      color: red;
    }

    input{
      //margin-bottom: -5px;
    }
  }
}
