div#EmployeeList{

  span{
    width: 80%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;

    select{
      margin: 0 10px;
    }

    &#bottom div{
      display: flex;
      gap: 50px;
    }
    p{
      margin: 0;
    }
  }

  span#bottom{
    div{
      a.clickable,
      button:not(.current){
        cursor: pointer;
      }
      a:not(.clickable),
      button.current{
        pointer-events: none;
      }
      button.current{
        background-color: grey;
      }
    }
  }
}
