@import "../../utils/colors";

div#EmployeeList{
  width: 95vw !important;
  padding: 10px !important;

  span{
    width: 95%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;

    select{
      margin: 0 10px;
    }

    &#bottom div{
      display: flex;
      gap: 20px;
    }
    p{
      margin: 0;
    }
  }

  span#bottom{
    width: 95%;

    p{
      color: $black;
    }

    div{
      a,
      button{
        padding: 4px 11px;
        border-radius: 50px;
        width: max-content;
        text-align: center;
        border: none;
      }
      a.clickable,
      button:not(.current){
        cursor: pointer;
        background-color: $white;
      }
      a:not(.clickable),
      button.current{
        pointer-events: none;
        background-color: $borderColor;
      }
    }
  }
}
