div#EmployeeList{

  span{
    width: 80%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;

    select{
      margin: 0 10px;
    }

    &#bottom div{
      display: flex;
      gap: 50px;
    }
    p{
      margin: 0;
    }
  }
}
