@import "../../utils/colors";

table{
  width: 95%;
  margin: 25px auto;
  border-collapse: collapse;

  thead{
    th{
      position: relative;
      min-width: 50px;
      padding-right: 10px;

      &.arrowTop::before,
      &.arrowDown::after{
        content: " ";
        display: block;
        position: absolute;
        right: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }
      &.arrowTop::before{
        top: 5px;
        border-bottom: 5px solid #7a80dd;
      }
      &.arrowDown::after{
        bottom: 5px;
        border-top: 5px solid #7a80dd;
      }

      &:hover{
        cursor: pointer;
        background-color: #7a80dd5e;
      }
    }
  }

  tbody {
    border: 1px solid $black;
    border-left: none;
    border-right: none;

    tr{
      border-bottom: 1px solid $borderColor;

      &:nth-child(even),
      &:hover {
        background-color: #D6EEEE;
      }

      &:last-of-type{
        border-bottom: 1px solid $black;
      }

      th{
        font-weight: normal;
        overflow: hidden; /* make sure it hides the content that overflows */
        white-space: nowrap; /* don't break the line */
        text-overflow: ellipsis;
      }
    }
  }
}
